doctype html
header.text-center(style="height:25px;padding:0.8em;background-color:#34495E;margin-bottom:1em;text-align:center;")
  .logo(style="max-width:33.33%;")
    img(src="",style="left:15px;positon:fixed;top:20px;transform:rotate(12deg);width:5%;float:left;")
    p(style="color:white;font-family:Palatino;font-size:1.2em;margin-top:4px;")
      | Sasta Lens &amp; Product Private Limited Company
.body(style='padding:1em;text-align:left;max-width:500px;color:#2C3E50;')
    h1(style="font-family:Palatino;font-size:1.5em;") Hi, #{name}
    p We got a request to reset your pssword.Please click on the "Reset Password" to continue... 
    a.reset-btn(href=hashLink,style='color:#298089;display:block;text-align:center;text-decoration:none;padding:0.5em;font-size:1.2em;border:5px solid #298089;border-radius:3px;margin:1em;margin-right:auto;margin-left:auto;') Reset Password 
    p.text-small.margin-2(style="color:grey;font-size:0.9em;text-align:left;margin-bottom:0;margin-top:2em;") If you didn't request the change please 
    p.tex-small(style='color:grey;font-size:0.9em;text-align:center;margin-bottom:0;')
    a(href="mailto:"+ returnEmail + '?subject=I did not reset my password&body=Someone unauthorized sent this reset password request.',style="color:#2980B9;") let us know 
    p.text-small(style='align:left;font-size:1.1em;line-height:1') Warm Reqards,
    div(style='font-family:Palatino;font-size:1.5em') Sasta Lens &amp; Product Private Limited